#tete
{
	background-image: url("back_covid.jpg");
	height: 200px
}
body{
	background-image: url("fond.jpg");
	background-position: left;
	background-attachment: fixed;
	background-repeat: repeat-y;
	background-size: 500px;

}
#titre{
	color: white;
	font-size: 1.8em;
	text-align: left;
	vertical-align: top;
	padding-top: 50px;

}
.alerte{

	float: left;
	padding-top: 50px;

}
#buttons{
	float: right;
	padding-right: 50px;
	padding-bottom: 50px;
}
.button{

	color: white;
	padding: 15px 15px;
	text-align: center;
	display: inline-block;
	font-size: 30px;
	margin: 4px 2px;
	cursor: pointer;
	height: 100px;
	width: 200px;
	background-color: rgb(7,40,55);

}
#symptomes{
	background-color: rgb(73, 66, 82);
	padding-bottom: 100px
	padding-top: 100px

}
.cor{
	float: left
}
h2{

	color: white;
	font-size: 50px;
	text-align: center;
	vertical-align: top;
	padding-top: 30px;
	text-decoration: underline; 
}
h3{
		font-size: 30px;
		text-decoration: underline; 

}
#sym{
	
	padding-left: 500px;
	padding-right: 100px;
	text-align: justify;
	font-size: 20px;
	color:white;
	padding-bottom: 20px;
}
#Préventions{
	background-color: rgb(73, 66, 82);
	padding-right: 100px;
	padding-left: 100px;
	text-align: justify;
}
.prev{
	float: left;
}
#text1{
	margin-left: 400px;
	padding-bottom: 20px;
	color:white;
	font-size: 20px;


}
#trait{
	background-color: rgb(73, 66, 82);
	text-align: justify;
	color:white;
	padding-bottom: 20px;
	padding-right: 20px;
	padding-left: 20px;
	font-size: 20px;

}
.medecin{
	float: left;
}
#med{
	background-color: rgb(73, 66, 82);
	padding-right: 100px;
	padding-left: 100px;
	padding-bottom: 20px;
	padding-top: 20px;
	text-align: justify;
	color:white;
	font-size: 20px;


}